<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th>Detalles</th>
      </tr>
    </thead>
    <tbody>
      @if (countries().length > 0) {
        @for (country of countries(); track country.cca2; let index = $index) {
          <tr>
            <td>{{ index + 1 }}</td>
            <td>{{ country.flag }}</td>
            <td>
              <img class="max-h-24" src="{{ country.flagSvg }}" alt="{{ country.name }}" />
            </td>
            <td>{{ country.name }}</td>
            <td>{{ country.capital }}</td>
            <td>
              <span class="badge badge-secondary">
                {{ +country.population | number }}
              </span>
            </td>
            <td>
              <a
                [routerLink]="['/country/country_details', country.cca2]"
                class="font-semibold link-primary cursor-pointer"
                >Mas información</a
              >
            </td>
          </tr>
        }
      } @else {
        <h2 class="text-2xl my-5 text-amber-500">No se encontraron datos</h2>
      }
    </tbody>
  </table>
</section>
